#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 4rem;
}

.profile-container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  background-color: var(--darkest-blue);
  opacity: 0.98;
  border-radius: 10px;
  user-select: none;
  color: var(--yellow);
}
