.login-modal-bg {
  background-color: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.login-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40rem;
  background-color: var(--light);
  color: var(--darkest-blue);
  border-radius: 10px;
  z-index: 1000;
}

.login-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--darkest-blue);
  opacity: 0.98;
  border-radius: 10px;
  user-select: none;
  color: var(--yellow);
}

.login-modal-wrapper {
  margin-top: 2rem;
}

.login-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-modal-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.login-modal-form-group label {
  font-size: 1.2rem;
  font-weight: 700;
}

.hide {
  display: none;
}

.valid {
  color: var(--green);
  margin-left: 1rem;
}

.invalid {
  color: var(--red);
  margin-left: 1rem;
}

.username-exists {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.login-modal-form-group input {
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid var(--darkest-blue);
  border-radius: 5px;
  background-color: white;
  color: var(--darkest-blue);
  outline: none;
}

.login-modal-form-group input:focus {
  border: 2px solid var(--darkest-blue);
}

.login-modal-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: var(--darkest-blue);
  color: var(--light-text);
  outline: none;
  cursor: pointer;
}
